# Enable validating this file
version: ~> 1.0

language: python
python:
    - "2.7"
sudo: false
cache:
    directories:
        - "~/.platformio"

jobs:
  include:
    - install:
      - pip install -U platformio
      - platformio update
      script: ./build_platformio.sh

notifications:
  email:
    on_success: change
    on_failure: change
