@charset "utf-8";
@import '../../node_modules/bulma/sass/utilities/_all';

@import '../../node_modules/bulma/sass/base/_all';
@import '../../node_modules/bulma/sass/elements/_all';

@import '../../node_modules/bulma/sass/components/navbar';
@import '../../node_modules/bulma/sass/components/card';

@import '../../node_modules/bulma/sass/grid/_all';
@import '../../node_modules/bulma/sass/layout/_all';
