/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.navbar
  padding 1.2rem 1.5rem!important
  height: auto !important

.navbar .links
  top 1.2rem !important

.sidebar
  padding-top 2rem
  @media screen and (max-width: 719px)
    padding-top 5.55rem !important
  

.sidebar-button
  left auto!important
  right 1rem !important
  top: auto !important