
.container.is-fluid {
  margin: 2rem 1rem;
  padding: 0 !important;
}

.page-columns {
  margin: 0 !important;
}

.page-content {
  background-color: #fff !important;
  min-height: 100vh;
}

.page-content .section {
  padding: 0rem 3rem;
}

.container {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.columns {
  margin-bottom: 0 !important;
}