
// Top Navbar Styles
.navbar-logo {
  text-align: left;

  @media screen and (min-width: $tablet) {
      text-align: center;
  }
}

.navbar-logo>svg [fill]:not([fill=none]) {
  fill: currentColor !important
}

.navbar-logo>svg {
  opacity: 0.8;
  width: 4rem;
  height: 4rem;

  @media screen and (min-width: $tablet) {
      width: 8rem;
      height: 8rem;
  }
}

.navbar-burger:focus {
  outline: none;
  text-decoration: none;
  background: transparent;
}

// Sidebar Styles

.page-sidebar {
  z-index: 1;
  box-shadow: 0 1.5rem 4rem rgba(22,28,45,.05) !important;
  min-height: 100vh;
  
  .menu {
    padding: 2rem 0rem;
    .menu-list a{
      font-weight: 400;
    }

    .menu-list a.is-active{
      font-weight: 600 !important;
    }

    @include mobile{
        padding: 2rem 0rem;
    }
  }

  .menu-list svg {
    vertical-align: middle;
    margin-right: 1rem;
  }

  .menu-list svg {
    vertical-align: middle;
  }


  .menu-list a {
    color: #A8A8AD;
    letter-spacing: 0.8px !important;
    font-weight: 500;
  }

  .menu-list a:hover {
    background-color: transparent;
  }

  .section {
    padding: 3rem 1rem;
  
    @include mobile{
        padding: 0.5rem 1rem 0rem 1rem !important;
    }
  }

  @include mobile {
      min-height: auto !important;
  }
}

.tags:not(:last-child) {
  margin-bottom: 0.5rem !important;
}

.control.is-loading::after{
  top: 1.15rem !important; 
}