name: Arduino Library CI

on: [pull_request, push, repository_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/setup-python@v1
        with:
          python-version: '3.x'
      
      - uses: actions/checkout@v2

      - uses: actions/checkout@v2
        with:
           repository: adafruit/ci-arduino
           path: ci

      - name: pre-install
        run: bash ci/actions_install.sh
        
      - name: install-deps
        run: bash .github/scripts/dep-install.sh

      - name: test platforms
        run: python3 ci/build_platform.py esp8266 esp32
